<div uib-modal-window="modal-window" window-class="modal" size="xs" index="10" animate="animate" modal-animation="true">
    <!-- modal template here -->
    <p>{{params.name}}</p>
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Close</button>

        <form ng-controller="payroll">
            <input type="text" value="{{params.PayrollID}}" placeholder="{{params.PayrollID}}" />
            <input type="text" value="{{params.BankName}}" placeholder="{{params.BankName}}" ng-model="valu" />


            <input type="button" ng-click="UpdatePayroll(params.PayrollID,params)" value="Update" />
        </form>


        <!--<input type="text" placeholder="{{params.name}}" />
    <input type="button" ng-click="Delete(params.name)" value="Delete Vendor" />-->
    </div>


</div>
